<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Timestamp</title>
  </head>
  <body>
    <h1>Make a new timestamp</h1>
    <form action="/timestamps" method="post">
      <section>
        <label for="username">Enter Username</label>
        <input
          type="text"
          id="username"
          placeholder="Type your name"
          name="username"
        />
      </section>
      <button>Generate Timestamp</button>
    </form>
  </body>
</html>
